<% var SubView = require('./subView') %>

<div class="topView">
    <%= this.include(SubView) %>
    <%= this.include(SubView) %>
    <%= this.include(SubView) %>
    <%= this.include(SubView) %>
    <%= this.include(SubView) %>
    <%= this.include(SubView) %>
</div>
